{% extends "control/base.html" %}
{% block content %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">BSSID</th>
          <th scope="col">SSID</th>
          <th scope="col">Encryption</th>
          <th scope="col">Pre-Shared Key</th>
          <th scope="col">Location</th>
          <th scope="col">Last Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for network in networks %}
            <tr>
{#        {% cycle '<tr scope="row">' '' '' '' %}#}
          <td>{{network.id}}</td>
          <td>{{network.bssid}}</td>
          <td>{{network.ssid}}</td>
          <td>{{network.encryption}}</td>
          <td>{{network.psk}}</td>
          <td>{{network.location}}</td>
          <td>{{network.last_updated}}</td>
{#        {% cycle '' '' '' '</tr>' %}#}
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}