{% extends "control/base.html" %}
{% block content %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">BSSID</th>
          <th scope="col">SSID</th>
          <th scope="col">Encryption</th>
          <th scope="col">Pre-Shared Key</th>
          <th scope="col">Location</th>
          <th scope="col">Last Updated</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for network in networks %}
            <tr>
                <td>{{network.id}}</td>
                <td>{{network.bssid}}</td>
                <td>{{network.ssid}}</td>
                <td>{{network.encryption}}</td>
                <td>{{network.psk}}</td>
                <td>{{network.location}}</td>
                <td>{{network.last_updated}}</td>
                <td>
                    <form action="http://78.130.176.87:8080/data" method="get">
                        <input name="delete" type="hidden" value="{{network.id}}"/>
                        <input type="submit" value="Remove" class="btn btn-danger"/>
                    </form>
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}