{% extends "control/base.html" %}
{% block content %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">MAC Address</th>
          <th scope="col">SSH Port</th>
          <th scope="col">Location</th>
          <th scope="col">Status</th>
          <th scope="col">Last Changed</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for device in devices %}
            <tr>
              <td>{{device.id}}</td>
              <td>{{device.mac_address}}</td>
              <td>{{device.ssh_port}}</td>
              <td>{{device.location}}</td>
              <td>{{device.status}}</td>
              <td>{{device.last_changed}}</td>
              <td>
                <form action="http://78.130.176.87:8080/networks" method="get">
                    <input name="port" type="hidden" value="{{device.ssh_port}}"/>
                    <input type="submit" value="Networks" class="btn btn-success"/>
                </form>
              </td>
                {% if device.status == 1 %}
                  <td>
                    <form action="http://78.130.176.87:8080" method="get">
                        <input name="port" type="hidden" value="{{device.ssh_port}}"/>
                        <input name="status" type="hidden" value="{{device.status}}"/>
                        <input type="submit" value="Stop capturing" class="btn btn-warning"/>
                    </form>
                  </td>
                {% elif device.status == 2 %}
                    <td>
                        <form action="http://78.130.176.87:8080" method="get">
                            <input name="port" type="hidden" value="{{device.ssh_port}}"/>
                            <input name="status" type="hidden" value="{{device.status}}"/>
                            <input type="submit" value="Start capturing" class="btn btn-success"/>
                        </form>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if device.status %}
                  <td>
                    <form action="http://78.130.176.87:8080" method="get">
                        <input name="reboot" type="hidden" value="{{device.ssh_port}}"/>
                        <input type="submit" value="Reboot device" class="btn btn-danger"/>
                    </form>
                  </td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}