{% extends "control/base.html" %}
{% block content %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">MAC Address</th>
          <th scope="col">SSH Port</th>
          <th scope="col">Location</th>
          <th scope="col">Status</th>
          <th scope="col">Last Changed</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for device in devices %}
            <tr>
          <td>{{device.id}}</td>
          <td>{{device.mac_address}}</td>
          <td>{{device.ssh_port}}</td>
          <td>{{device.location}}</td>
          <td>{{device.status}}</td>
          <td>{{device.last_changed}}</td>
          <td>
            <form action="http://78.130.176.99:8080/networks" method="get">
                <input name="id" type="hidden" value="{{device.id}}"/>
                <input type="submit" value="Networks" class="btn btn-success"/>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}